name: Build and publish docker image
on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'tag'     
        required: true
        default: 'v1.0.0'  
  push:
    tags: 
      - v*

jobs:

  build:
  
    runs-on: ubuntu-latest
    steps:
    
    - uses: actions/checkout@v2
    
    - name: Extract version
      run: |
        if [ ${{ github.event.inputs.tag }} ]; then
          VERSION=${{ github.event.inputs.tag }}
        else |          
          VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')
          [[ "${{ github.ref }}" == "refs/tags/"* ]] && VERSION=$(echo $VERSION | sed -e 's/^v//')
        echo VERSION=$VERSION
        
    - name: Create docker image
      run:
        echo version=$VERSION
        docker build . --file Dockerfile --tag mehtasankets/my-ramblings:$VERSION
    
    - name: Push docker image
      run: 
        docker push mehtasankets/my-ramblings
